*,*::before, *after{
    box-sizing: inherit;
}

.gradient-campaign{
    background: rgb(255,236,213);
    background: linear-gradient(90deg, rgba(255,236,213,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(255,236,213,1) 100%);
}

.title_campaign{
    font-family: 'Amiri', 'Times New Roman', serif;
    font-size: 24pt;
    color: #8F6500;
}

.item_description{
    font-size: 12pt;
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
}

@media (min-width: 320px){
    .item_pic{
        width: 250px;
        height: 250px;
        z-index: 99;
        position: relative;
    }
    
}

@media (min-width: 768px){
    .item_pic{
        width: 690px;
        height: 300px;
        z-index: 99;
        position: relative;
    }
    
}

@media (min-width: 990px){
    .item_pic{
        width: 440px;
        height: 440px;
        z-index: 99;
        position: relative;
    }
    
}

.campaign_main {background-color:red;}

.campaign_picture {background-color: blue;}

/* Kai ------------------------------- */
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 60px 20px;
}


