*,*::before, *after{
    box-sizing: inherit;
}

.coffee-subtitle{
    height: 60px;
    color: white;
}

.coffee-subtitle h1{
    font-size: 15pt;
}

.coffee_main        {background-image: url(../img/coffee_main.png);}

.bazil-coffee-bg    {background-image: url(../img/coffee_beans.png);}
.coffee-choose-bg   {background-image: url(../img/coffee_choose.png);}
.coffee-skill-bg    {background-image: url(../img/coffee_skill.png);}

._3rd_section{
    height: 320px;
}

.title_coffee{
    font-family: 'Amiri',serif;
    color:#8F6500;
    font-size: 32pt;
    display: flex;
    justify-content: space-between;
    width: 340px;
}

.subtitle_coffee{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
    color:#8F6500;
    font-size: 16pt;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.description{
    font-size: 10pt;
}

._3rd_section .sec_odd .title_coffee{
    text-align: left;
    margin: 30px auto 10px 550px;
}

._3rd_section .sec_odd .subtitle_coffee{
    text-align: right;
    margin: 10px 90px 60px auto;
}

._3rd_section .sec_even .title_coffee{
    text-align: right;
    margin: 25px 550px 10px auto;
}

._3rd_section .sec_even .subtitle_coffee{
    text-align: left;
    margin: 15px auto 60px 90px;
}

.pic_enjoy_coffee{
    height: 180px;
    background-image: url(../img/coffee_end.png);
}

.coffee_description_odd{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
    font-size: 12pt;
    color: black;
    font-weight: normal;
    text-align: left;
    margin: auto 40px auto 520px;
}

.coffee_description_even{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
    font-size: 12pt;
    color: black;
    font-weight: normal;
    text-align: left;
    margin: auto 520px auto 40px;
}