*,*::before, *after{
    box-sizing: inherit;
}

.food_main    {background-image: url(../img/food_main.png);}

.food_pic{
    width: 100%;
}

.title_food{
    font-size: 20pt;
    margin-top: 10px;
    color: #8F6500;
    font-weight: bold;
}

.subtitle_food{
    font-size: 15pt;
    color: #8F6500;
    text-align: right;
    font-weight: bold;
}

.bounceInRight .subtitle_food{
    text-align: left;
}

@media (min-width: 768px){
    .meal-desc h1{
        font-size: 32pt;
        font-weight: bold;
    }
}