*,*::before, *after{
    box-sizing: inherit;
}

.pastry_main    {background-image: url(../img/pastry_main.png);}

.food_pic{
    width: 100%;
}

.meal-desc h1{
    font-size: xx-large;
    font-weight: bold;
}

@media (min-width: 768px){
    .meal-desc h1{
        font-size: 32pt;
        font-weight: bold;
    }
}