
*,*::before, *after{
    box-sizing: inherit;
}

.default-bg-color {background-color: rgb(35, 25, 0);}
.bg-transulent-dark{ background-color: rgba(0, 0, 0, 80%); }

.bg-center{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.container {
    max-width: 960px;
}

@media (min-width: 768px){
    #line {
        display: block !important;
        width: 225px;
    }
}

@media (min-width: 990px){
    .nav-item{
        border-left: 1px white solid;
        padding: 0 12px;
    }
    
    .navbar-collapse ul{
        border-right: 1px white solid;
    }

    #line {
        width: 300px;
    }
}

.nav-link{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
    font-weight: lighter;
    font-size: 9pt;
}

.nav-icon p{
    color: #FFECD5;
    margin: 5.5px 0;
}

.nav-icon a img{
    height: 35px;
    width: 35px;
    padding: 5px;
}

.sub-pg-header{
    height: 240px;
    color: #FFECD5;
}

.sub-pg-header h1{
    font-size: 60pt;
    font-family: 'Amiri', 'Times New Roman', serif;
}

.sub-pg-header p{
    font-size: 24pt;
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
}

.poster{
    width: 100%;
    height: 500px;
    background-image: url(../img/top_poster1.png);
}

.hover_scale:hover{
    transform: scale(1.2);
}

a:hover, .table_foot_section ul li a:hover,
.hover_coffee_color:hover h2, .hover_coffee_color:hover p{
    color: #8F6500;
}

.box_2nd_section{
    width: calc(1/3 * 100%);
    height: 180px;
    overflow: hidden;
    padding: 0;
}

.bg_pic_2nd_section{
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.top_coffee {background: url(../img/top_coffee.png);}
.top_food   {background: url(../img/top_food.png);}
.top_pastry {background: url(../img/top_pastry.png);}

.text h2{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 32pt;
    color: #FFECD5;
    font-family: 'Amiri', serif;
    font-weight: 700;
}

.text p{
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    color: #FFECD5;
    font-family: 'Noto Sans TC', 'Microsoft Yahei',serif;
}

.campaign_bg{
    background-image: url(../img/top_campaign.png);
    background-repeat: no-repeat;
    height: 320px; /*temp*/
}

.gift_bg{
    background-image: url(../img/top_gift.png);
    background-repeat: no-repeat;
    height: 320px; /*temp*/
}

.title{
    font-family: 'Amiri', 'Times New Roman', serif;
    font-weight: 700;
    font-size: 60pt;
    color: #8F6500;
    margin: 60px 0 0 0;
}

.subtitle{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
    font-size: 24pt;
    font-weight: bold;
    color: #8F6500;
    margin: 0;
    display: flex;
    align-self: flex-end;
}

.description{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
    font-size: 12pt;
    margin: 30px 30px;
    color: black;
    font-weight: normal;
}

.foot-bg{ background-image: url(../img/footer_section.png);}

.table_foot_section{
    padding: 0px 30px;
}

.table_foot_section ul{
    padding: 0 auto;
    padding-top: 20px;
}

.table_foot_section ul h2{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
    color: #FFECD5;
    font-size: 12pt;
    font-weight: bold;
    line-height: 20px;
    text-align: end;
}

.table_foot_section ul li{
    font-family: 'Noto Sans TC', 'Microsoft Yahei', sans-serif;
    font-size: 10pt;
    display: block;
    text-align: end;
}

.table_foot_section ul li a{
    color: #FFECD5;
    line-height: 20px;
}

footer{
    height: 50px;
    background-color: black;
}

footer p{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 6pt;
    color: #FFECD5;
    margin: 0 10px 0 0;
}

.foot_button{
    padding: 0 10px;
}

.foot_button img{
    width: 25px;
    height: 25px;
}